<div class="col-12">

    <div type="button" class="session-card" data-toggle="modal" data-target="#session-<%= session.id %>">


      <div class="card-session-info">
        <div class="info-top">
          <h3><%= session.activity.name %></h3>



        
        <% if upcoming %>
        
          <div class="controls">
            <ul class="list-inline">
              <%= link_to session_delete_path(session), method: :delete, data: { confirm: "Are you sure?"} do %>
                <li class="list-inline-item"><i class="fas fa-trash-alt"></i></li>
              <% end %>
              <%= link_to edit_session_path(session) do %>
                <li class="list-inline-item"><i class="fas fa-edit"></i></li>
              <% end %>
            </ul>
          </div>
          
        <% end %>
        

        </div>
        <div class="info-bottom">
          <p> <%= session.start_time.strftime("%A %d.%m.%y") %> </p>
        </div>
      </div>


      <div class="rhs-holder">
        <div class="card-session-time">
          <p> <%= session.start_time.strftime("%l:%M %p") %> </p>
          <p id="duration"> <%= ((session.end_time - session.start_time) / 60).round %> min </p>
        </div>

        
        <% if upcoming %>
          <%#= link_to "Join Live Session", room_path(session.room), class: "btn btn-primary"  %>


          <div class="numbers">
            <h2>
              <span class="participants"> <%= session.max_participants - session.bookings.count %> / <%= session.max_participants %> available </span>
                        £<%=   money_without_cents session.price %>
            </h2>
          </div>

        <% end %>


        
        <% if past %>

          <div class="numbers">
            <h2>
              <span class="participants"> <%= session.max_participants - session.bookings.count %> / <%= session.max_participants %> available </span>
                        £<%=   money_without_cents session.price %>
            </h2>
          </div>
          
        <% end %>
        
          


        <%# <% if session.activity.user == current_user || Booking.where(user:current_user, session:session).any? %>
          <%#= link_to "Join Live Session", room_path(session.room), class: "btn btn-primary"  %>
        <%# end %> 



      </div>

      <div class="image-holder" style="background-image: url(<%= url_for(session.activity.category.photo) %>)">
          <p class="category-tag"><span><%= session.activity.category.name.upcase %></span></p>
      </div>

    </div>

</div>
