<!-- Modal -->
    <div class="modal fade" id="session-<%= session.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">

            <ul style="list-style-type: none;">
              <li>
                <h5 class="modal-title" id="exampleModalLabel"><%= session.activity.name %></h5>
              </li>

              <li>
              <%= link_to user_path(session.activity.user), class:"trainer-modal-link" do %>
                <h4>by <%= session.activity.user.name %> </h4>
              <% end %>
              </li>
              <li>
                <p><i class="fas fa-star"> </i><i class="fas fa-star"> </i><i class="fas fa-star"> </i><i class="fas fa-star"> </i><i class="fas fa-star"></i></p>
              </li>
            </ul>
            <% if session.activity.user.respond_to?(:photo) && session.activity.user.photo.attached? %>
              <%= cl_image_tag session.activity.user.photo.key, class: "card-session-user avatar-large", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% else %>
              <%= image_tag "https://hancroft.co.nz/wp-content/uploads/2019/05/profile-placeholder.png", class: "avatar-large  dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <p class="modal-category-tag"><span><%= session.activity.category.name.upcase %></span></p>
            <div>
              <h4>About <%= session.activity.user.name %><h4>
              <p><%= session.activity.user.bio %></p>
            </div>
            <div>
              <h4>About the class</h4>
              <p><%= session.activity.description %></p>
            </div>
          </div>
          <div class="modal-footer">
            <ul style="list-style-type: none;">
              <li>
                <p class="modal-date"><%= session.start_time.strftime(" %A %d.%m.%Y") %> </p>
              </li>
              <li>
                <div id="time-properties">
                  <h2> <%= session.start_time.strftime("%l:%M %p") %> </h2>
                  <p id="duration" > <%= ((session.end_time - session.start_time) / 60).round %> min </p>
                </div>
              </li>
              <li>
                <h2 class="participants"> <%= session.max_participants - session.bookings.count %> / <%= session.max_participants %> available </h2>
              </li>
            </ul>
            <h2><%= link_to "Add for £#{session.price}", session_bookings_path(session), method: :post, class: "btn btn-primary buy" %></h2>
          </div>
        </div>
      </div>
    </div>


  
  


