<div class="container mb-2 mt-2">
  <h1 id="workout">Choose your next <span>workout</span></h1>
</div>
<!-- sessions listed -->
<div class="isearch-container sticky-top mt-2">
  <%= form_tag sessions_path, method: :get do %>
    <div class="isearch-bar">
        <%= text_field_tag :session, params[:session], class: "form-control isearch-input", placeholder: "search..."%>
      <div class="isearch-button">
        <%= button_tag(type: "submit", class: "btn btn-circle icustom-circle-button ") do %>
          <i class="fas fa-search"></i>
        <%end%>
      </div>
    </div>
  <% end %>
</div>


<!-- filters -->


  <div class="filter">


  <div class="dropdown">
    <button class="btn dropdown-toggle category-tag-filter" type="button" data-toggle="dropdown">Category
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <li><a href="#">Yoga</a></li>
      <li><a href="#">Boxing</a></li>
      <li><a href="#">Pilates</a></li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn dropdown-toggle category-tag-filter" type="button" data-toggle="dropdown">Price
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <li><a href="#"><£10</a></li>
      <li><a href="#"><£15</a></li>
      <li><a href="#"><£20</a></li>
    </ul>
  </div>

    <div class="dropdown">
    <button class="btn dropdown-toggle category-tag-filter" type="button" data-toggle="dropdown">Day of the week
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <li><a href="#">Monday</a></li>
      <li><a href="#">Tuesday</a></li>
      <li><a href="#">Wednesday</a></li>
      <li><a href="#">Thursday</a></li>
      <li><a href="#">Friday</a></li>
      <li><a href="#">Saturday</a></li>
      <li><a href="#">Sunday</a></li>

    </ul>
  </div>

  </div>



<% if @sessions.empty? %>
  <div class="noresult-container text-center">
    <p><em>Sorry, no sessions found...</em></p>
  </div>
<% end %>



<div class="container mb-5 mt-2">
  <div class="row">
    <% @sessions.each do |session| %>
      <%= render "shared/session_card", session: session, review: false, trainer: false, zoom: false %>
      <%= render "show", session: session %>
    <% end %>
  </div>
</div>

<!-- script for dropdown -->

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".dropdown-menu li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

