<!-- search results
choose the right class for you
filter -->



<!-- sessions listed -->
<div class="isearch-container sticky-top mt-6">
  <%= form_tag sessions_path, method: :get do %>
    <div class="isearch-bar">
        <%= text_field_tag :session, params[:session], class: "form-control isearch-input", placeholder: "search.."%>
      <div class="isearch-button">
        <%= button_tag(type: "submit", class: "btn btn-circle icustom-circle-button ") do %>
          <i class="fas fa-search"></i>
        <%end%>
      </div>
    </div>
  <% end %>
</div>

<div class="noresult-container text-center">
  <% if session.empty? %>
    <p><em>Sorry, sessions found...</em></p>
  <% end %>
</div>


<div class="container mb-5 mt-5">
  <h1>Choose your next workout</h1>
  <div class="row">
    <% @sessions.each do |session| %>
      <%= render "shared/session_card", session: session, review: false, trainer: false, zoom: false %>
      <%= render "show", session: session %>
    <% end %>
  </div>
</div>


