<div class="form-container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs form-login">
          <%= f.input :name, placeholder: "Elsa Green" %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      placeholder: "elsa@gmail.com" %>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" },
                      placeholder: "••••••" %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      placeholder: "••••••" %>
          <%= f.input :trainer, as: :boolean, checked_value: true, unchecked_value: false, input_html: { class: "toggle" }, label: "I want to sign up as a trainer" %>
          <div class="extra-inputs d-none">
            <%= f.input :bio, label: "About me", placeholder: "I have been a Certified Personal Trainer since 2017 and previously worked as a Personal Trainer at the University of Maryland. Hope to use my knowledge to spread and improve health and wellness! "  %>
            <%= f.input :zoom_link, label: "My personal Zoom link", placeholder: "https://zoom.us/......."  %>
          </div>

        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up",  class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

