<div class="profile-banner">
  <div class="container">
    <h1 id="trainer-header-1">Trainer Profile</h1>
    <h2 id="trainer-header-2"><%= @user.name %></h2>
    <p><i class="fas fa-star"> </i><i class="fas fa-star"> </i><i class="fas fa-star"> </i><i class="fas fa-star"> </i><i class="fas fa-star"></i></p>
    <% if @user.respond_to?(:photo) && @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "card-session-user avatar-large", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
    <% else %>
      <%= image_tag "https://hancroft.co.nz/wp-content/uploads/2019/05/profile-placeholder.png", class: "avatar-large  dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
  </div>
</div>

<div class="profile-body">
  <div class="container">
    <h2 id="bio">About</h2>
    <p><%= @user.bio %></p>
    <div class="pt-3">

      <% if @sessions.blank? %>
        There are no sessions planned yet
      <% end %>
      <div class="row profilecard">
        <% @sessions.each do |session| %>
          <%= render "shared/session_card", session: session, review: false, trainer: false, zoom: false %>
          <%= render "sessions/show", session: session %>
        <% end %>
      </div>
    </div>
  </div>
</div>

