<div class="col-12">
  <div class="session-card">
    <div type="button" class="card-session" data-toggle="modal" data-target="#session-<%= session.id %>">

      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-session-user avatar-large" />
      <div class="card-session-info">
        <h2><%= session.activity.name %></h2>
        <h6>by <%= session.activity.user.name %></h6>
        <p><i class="fas fa-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></i></p>
        <br>
        <p> <%= session.start_time.strftime("%A %d.%m.%y") %> </p>
      </div>
    

      <div class="rhs-holder">
        <div class="card-session-time">
          <p> <%= session.start_time.strftime("%I:%M %p") %> </p>
        </div>

        <% if edit %>
          <div class="button-row">
            <button>delete</button>
          </div>
        <% end %>

        <div class="numbers">
          <h2><span class="participants"> <%= session.min_participants %> / <%= session.max_participants %> available </span>
                      £<%= session.price %> </h2>
        </div>
      </div>

    </div>
  </div>
</div>
