<div class="col-12">

    <div type="button" class="session-card" data-toggle="modal" data-target="#session-<%= session.id %>">

      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-session-user avatar-large" />

      <div class="card-session-info">
        <div class="info-top">
          <h3><%= session.activity.name %></h3>
          <%= link_to user_path(session.activity.user), class:"trainer-link" do%>
            <h6>by <%= session.activity.user.name %></h6>
          <% end %>
          <p><i class="fas fa-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></i></p>
        </div>
        <div class="info-bottom">
          <p> <%= session.start_time.strftime("%A %d.%m.%y") %> </p>
        </div>
      </div>


      <div class="rhs-holder">
        <div class="card-session-time">
          <p> <%= session.start_time.strftime("%I:%M %p") %> </p>
        </div>

        <% if review %>
          <div class="btn btn-primary">
            Review
          </div>
        <% end %>

        <% if trainer %>
          <div class="controls">
            <ul class="list-inline">
            <%# <! –– link to correct action!! ––> %>
              <%= link_to new_activity_session_path(session.activity) do %> 
                <li class="list-inline-item"><i class="fas fa-trash-alt"></i></li>
              <% end %>
            <%# <! –– link to correct action!! ––> %>
              <%= link_to new_activity_session_path(session.activity) do %> 
                <li class="list-inline-item"><i class="fas fa-edit"></i></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="numbers">
          <h2><span class="participants"> <%= session.min_participants %> / <%= session.max_participants %> available </span>
                      £<%= session.price %> </h2>
        </div>
      </div>

      <div class="image-holder" style="background-image: url('https://source.unsplash.com/random');">
          <p class="category-tag"><span><%= session.activity.category.name.upcase %></span></p>
      </div>

    </div>

</div>
