<div class="col-12">

    <div type="button" class="session-card" data-toggle="modal" data-target="#session-<%= session.id %>">



      <% if session.activity.user.respond_to?(:photo) && session.activity.user.photo.attached? %>
        <%= cl_image_tag session.activity.user.photo.key, class: "card-session-user avatar-large", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
      <% else %>
        <%= image_tag "https://hancroft.co.nz/wp-content/uploads/2019/05/profile-placeholder.png", class: "avatar-large  dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>

      <div class="card-session-info">
        <div class="info-top">
          <h3><%= session.activity.name %></h3>
          <div class="trainer-link-div">
            <%= link_to user_path(session.activity.user), class: "trainer-link" do %>
              <h6>by <%= session.activity.user.name %></h6>
            <% end %>
          </div>


          <% if session.activity.user.average_rating == 0 %>
            <p id="no-rating">No rating yet</p>
          <% else %>
            <%= render "users/stars", average_rating: session.activity.user.average_rating %>
          <% end %>


        </div>
        <div class="info-bottom">
          <p> <%= session.start_time.strftime("%A %d.%m.%y") %> </p>
        </div>
      </div>


      <div class="rhs-holder">
        <div class="card-session-time">
          <p> <%= session.start_time.strftime("%l:%M %p") %> </p>
          <p id="duration"> <%= ((session.end_time - session.start_time) / 60).round %> min </p>
        </div>



        <% if trainer %>
          <% if session.attendees.empty? %>
            <div class="controls">
              <ul class="list-inline">
          
                <%= link_to session_delete_path(session), method: :delete, data: { confirm: "Are you sure?"} do %>
                  <li class="list-inline-item"><i class="fas fa-trash-alt"></i></li>
                <% end %>

                <%= link_to edit_session_path(session), id: "edit-button" do %>
                  <li class="list-inline-item"><i class="fas fa-edit"></i></li>
                <% end %>
              
              </ul>
            </div>
          <% end %>
        <% end %>


        <% if zoom %>

         <%= link_to "Open in Zoom", session.activity.user.zoom_link, class: "btn btn-primary" %>

          <div title="Add to Calendar" class="addeventatc">
              <p style="color: white !important; font-size: 1rem;"></i> Add to Calendar</p>
              <span class="start"><%= session.start_time %></span>
              <span class="end"><%= ((session.end_time - session.start_time) / 60) %></span>
              <span class="timezone">Europe/London</span>
              <span class="title"><%= session.activity.name %></span>
              <span class="description"><%= session.activity.name %><br>by <%= session.activity.user.name %></span>
              <span class="location">Zoom Link: <%= session.activity.user.zoom_link %></span>
          </div>


        <% elsif review %>
            <%= link_to "Review", new_session_review_path(session), class: "btn btn-primary" %>
        <% else %>
          <div class="numbers">
            <h2>
              <span class="participants"> <%= session.max_participants - session.bookings.count %> / <%= session.max_participants %> available </span>
                        £<%= session.price %>
            </h2>
          </div>
        <% end %>

      </div>

      <div class="image-holder" style="background-image: url(<%= url_for(session.activity.category.photo) %>)">
          <p class="category-tag"><span><%= session.activity.category.name.upcase %></span></p>
      </div>

    </div>

</div>
