<div class="modal" id= "<%=attendees%>-session-<%=session.id%>" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul style="list-style-type: none;">
          <li>
            <h5 class="modal-title" id="exampleModalLabel">Attendees</h5>
          </li>
          <li>
            <h4><%= activity.name%> </h4>
          </li>
        </ul>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <% session.attendees.reverse.each do |attendee| %>
          <div class="session-card attendee  justify-content-between align-items-center">

            <div class="d-flex justify-content-start align-items-center">
              <% if attendee.respond_to?(:photo) && attendee.photo.attached? %>
                <%= cl_image_tag attendee.photo.key, class: "card-session-user avatar-large mr-3 ml-3", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
              <% else %>
                <%= image_tag "https://hancroft.co.nz/wp-content/uploads/2019/05/profile-placeholder.png", class: "avatar-large dropdown-toggle mr-3 ml-3", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <p><%= attendee.name %><p>
            </div>

          <% if session.end_time < DateTime.now %>
            <div id="attendee-controls">
              <% booking = attendee.bookings.find_by(session: session)  %>
              <%= simple_form_for booking, url: missed_path(booking), remote: true do |f| %>
                <%= f.input :attended, as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: "attended_#{booking.id}", class: "toggle-attendee", checked: booking.attended, onchange: "event.currentTarget.parentElement.parentElement.parentElement.submit()"}, label: "Attended" %>
              <% end %>

            </div>
          <%end%>


          </div>
        <% end %>
      </div>

      <div class="modal-footer attendee form-actions">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>


