
<div class="modal" id="activity-<%=activity.id%>" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
                 <ul style="list-style-type: none;">
              <li>
                <h5 class="modal-title" id="exampleModalLabel">Attendees</h5>
              </li>
              <li>
                <h4><%= activity.name%> </h4>
              </li>
            </ul>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% session.attendees.each do |attendee| %>
        <div class="session-card">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-session-user avatar-large" />
          <p><%= attendee.name %><p>
          <% if session.end_time > DateTime.now %>
            <% booking = attendee.bookings.find_by(session: session)  %>
            <%= simple_form_for booking, url: missed_path(booking), remote: true do |f| %>
              <%= f.input :attended, as: :boolean, checked_value: true, unchecked_value: false, input_html: { class: "toggle", checked: booking.attended, onchange: 'this.form.submit();'} , label: "Attended" %>
            <% end %>
          <% end %>
        </div>
     <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>


