<% content_for :meta_title, "Dashboard for #{current_user.name} on #{DEFAULT_META["meta_product_name"]}" %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12">

      <h1>My dashboard</h1>
      <div class="d-flex justify-content-between trainer-activity">
        <div class="trainer-dashboard-heading">
          <h2 class="d-inline-block m-0">Activities</h2>
          <% if current_user.trainer %>
            <%= link_to "Add new activity", "/activities/new", class: "btn btn-primary ml-3" %>
          <% end %>
        </div>
          <%= link_to "My Trainer Profile", user_path(current_user), class:  "btn btn-dark"  %>
      </div>

      <% @activities.each do |activity| %>

        <div class="activity-card mt-3">

          <div class="activity-left">
            <div class="left-header">
              <h4><%= activity.name %></h4>
              <div class="controls">
                <ul class="list-inline">
                  <%= link_to activity_path(activity), method: :delete, data: { confirm: "Are you sure?"} do %>
                    <li class="list-inline-item"><i class="fas fa-trash-alt"></i></li>
                  <% end %>
                   <%= link_to edit_activity_path(activity) do %>
                    <li class="list-inline-item"><i class="fas fa-edit"></i></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <p id="description"><%= activity.description %></p>
            <p class="category-tag-activity"><span><%= activity.category.name.upcase %></span></p>
          </div>

          <div class="activity-right">
            <%= link_to "New session", new_activity_session_path(activity), class: "btn btn-primary btn-session"  %>
            <button class="sessions-button btn btn-dark" data-activity-id="<%= dom_id(activity) %>">My sessions <i class="fas fa-sort-down"></i></button>
            <p id="upcoming-sessions"><%= activity.sessions.where("sessions.end_time >= ?", DateTime.now).count %> sessions coming up</p>
          </div>
        </div>


      <div class="session-dropdown d-none" id="<%= dom_id(activity)%>">
        <ul class="nav nav-tabs trainer-tab" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active trainer-tab" id="home-tab" data-bs-toggle="tab" data-bs-target="#upcoming<%= dom_id(activity)%>" type="button" role="tab" aria-controls="upcoming" aria-selected="true">Upcoming</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link trainer-tab" id="contact-tab" data-bs-toggle="tab" data-bs-target="#past<%= dom_id(activity)%>" type="button" role="tab" aria-controls="past" aria-selected="false">Past</button>
          </li>
        </ul>


        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="upcoming<%= dom_id(activity)%>" role="tabpanel" aria-labelledby="upcoming-tab">
            <% if activity.sessions.where("sessions.end_time >= ?", DateTime.now).empty? %>
              <p class="text-center">No upcoming sessions available</p>
            <% end %>
            <% activity.sessions.where("sessions.end_time >= ?", DateTime.now).order(start_time: :asc).each do |session| %>
             <div type="button"  data-toggle="modal" data-target="#upcomming-session-<%= session.id %>">
              <%= render "sessions/session_trainer", upcoming: true, past: false, session: session %>
            </div>
              <%= render "attendees", attendees: "upcomming", activity: activity, session: session %>
            <% end %>
          </div>


          <div class="tab-pane fade" id="past<%= dom_id(activity)%>" role="tabpanel" aria-labelledby="past-tab">
            <% if activity.sessions.where("sessions.end_time < ?", DateTime.now).empty? %>
              <p class="text-center">No past sessions available</p>
            <% else %>
              <p class="text-center">Click on a session card see your attendees or change attendence status</p>
            <% end %>

            <% activity.sessions.where("sessions.end_time < ?", DateTime.now).order(start_time: :desc).each do |session| %>
              <div type="button"  data-toggle="modal" data-target="#past-session-<%= session.id %>">
                <%= render "sessions/session_trainer", upcoming: false, past: true, session: session %>
              </div>
              <%= render "attendees", attendees: "past", activity: activity, session: session %>
            <% end %>
          </div>

        </div>
      </div>

    <% end %>

    </div>
  </div>
</div>

